/* .textg {
    background-color: #2b2929;

    height: 136px;
    width: 80%;
    height: auto;
    margin-left: -10%;
    margin-left: -0.5%;
    border-radius: 8px;
    margin-top: -123%;



}

.mn {
    margin-top: 40px;

}

.rt {
    padding: 20px;

}

.gt{
    margin-top: 5%;
}

.kj {
     position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: -125%;
    height: 52%;
    width: 22.7%;
    overflow: hidden;

 
}

.kj:hover .scroll-container::-webkit-scrollbar-thumb {
    opacity: 1;
    visibility: visible;
    display: inline-block;
}

.scroll-container {
    height: 430px;
    overflow-y: scroll;

}

.scroll-container::-webkit-scrollbar {
    width: 12px;

}

.scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    opacity: 0;
    visibility: hidden;
}

.scroll-container::-webkit-scrollbar-thumb {

    opacity: 0;
    visibility: hidden;

}

.dfg {
    display: flex;
    filter: invert(100%);
    border-radius: 30px;
    margin: -34px;
    margin-top: 11px;
    height: 30px;
    width: 30px;

    margin-left: 10px;
}


.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
    visibility: visible;

}

.scroll-container::-webkit-scrollbar-button {
    display: none;

}

.fax {
    margin-top: -92%;
     position: fixed;
}

.oio {
    color: #f1f1f1;
    margin-top: -100px;
    width: 50%;
    border: 2px solid white;
}


.cf {
    width: 100px;
   
    padding: 10px;
    border: 1px solid black;
    border-radius: 40px;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20%;

}

.cf:hover {
    cursor: pointer;
}

.yourlibrary {
     position: fixed;
    display: flex;
    margin-top: -128%;
    margin-left: 4%;
    color: grey;
    font-size: medium;
    font-weight: bold;
    gap: 120px;


}

.your:hover {
    color: #f1f1f1;
    font-weight: bold;
    cursor: pointer;
} */